<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569402643398-bun9ncfk4062m12po5ptt6722idtvfkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569402643398-bun9ncfk4062m12po5ptt6722idtvfkj</string>
	<key>API_KEY</key>
	<string>AIzaSyDAnL4d_ICkUhTjeOaoc9YYvzNlJ1Gw_kY</string>
	<key>GCM_SENDER_ID</key>
	<string>569402643398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codegate.mlfacedetection</string>
	<key>PROJECT_ID</key>
	<string>ml-face-detection-4fdbf</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-face-detection-4fdbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569402643398:ios:547d2304f34449a8</string>
	<key>DATABASE_URL</key>
	<string>https://ml-face-detection-4fdbf.firebaseio.com</string>
</dict>
</plist>